<table>
    <thead>
        <tr>
            <td><h3>Code</h3></td>
            <td><h3>Name</h3></td>
            <td><h3>Gender</h3></td>
            <td><h3>Annual Salary</h3></td>
            <td><h3>Date of Birth</h3></td>            
        </tr>
    </thead>
    <tbody>

     <tr *ngFor = "let employee of employees; trackBy:trackByEmpCode">
         <td>{{employee.code}}</td>
         <td>{{employee.name | uppercase}}</td>
         <td>{{employee.gender}}</td>
         <td>{{employee.annualSalary | currency : 'GBP'}}</td>
         <td>{{employee.dateOfBirth | date:'fullDate' | uppercase }}</td>         
     </tr>
     <tr *ngIf = "!employees || employees.length == 0">
         <td colspan="5"> No Employees</td>
     </tr>
     
</tbody>
</table>
<br/>
<button (click)="getEmployees()">Refresh Table</button>