<br/>
<div>
    <form action="">
        <input type="radio" name="gender" value="all"> All
        <input type="radio" name="gender" value="female"> Female
        <input type="radio" name="gender" value="male"> Other
      </form>
</div>
<br/>

<table>
    <thead>
        <tr>
            <td><h3>Code</h3></td>
            <td><h3>Name</h3></td>
            <td><h3>Gender</h3></td>
            <td><h3>Annual Salary</h3></td>
            <td><h3>Date of Birth</h3></td>            
        </tr>
    </thead>
    <tbody>

     <tr *ngFor = "let employee of employees; trackBy:trackByEmpCode">
         <td>{{employee.code}}</td>
         <td>{{employee.name }}</td>
         <td>{{employee.gender | employeeTitle:employee.gender}}</td>
         <td>{{employee.annualSalary | currency : 'RUB' :true: '1.2-2'}}</td>
         <td>{{employee.dateOfBirth | date:'fullDate' | uppercase }}</td>         
     </tr>
     <tr *ngIf = "!employees || employees.length == 0">
         <td colspan="5"> No Employees</td>
     </tr>
     
</tbody>
</table>
<br/>
<button (click)="toggleEmployees()">{{showNewEmployee ? 'Hide New Dude ' : 'Show New Dude ' }}</button>